	<h1 class="page-header">Обсуждаемые темы
		<div class="right">
			<%= button_to 'Создать тему', new_article_path, :class=> "btn btn-primary", :method => :get %>
		</div>
	</h1>

	<%= render "list_article" %>

	<%= will_paginate @list_article, :renderer => BootstrapPagination::Rails %>
