	<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="form-group"> Добавление новой записи </h1>
		<% if user_signed_in? %>
		<%= render 'form' %>
		<% else %>
		<p>Пожалуйста <%=link_to "Войдите", new_user_session_path%> или <%=link_to "Зарегистрируйтесь", new_user_registration_path %> чтобы добавлять новые записи </p>
		<%end%>
	</div>
</div>